.customSelect {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}

.selectWrapper {
    flex: 1;
    position: relative;
}

.selectSelected {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--button);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: var(--text-main);
}

.selectItems {
    display: block;
    position: absolute;
    top: 92%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--button);
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
}

.selectItem {
    padding: 10px;
    cursor: pointer;
    color: var(--text-main);

    &:hover {
        background-color: var(--button-hover);
    }

    &.selected {
        background-color: var(--button-hover);
    }
}

.selectPlaceholder {
    color: var(--text-main);
}

.selectNative {
    display: none;
}

@media (max-width: 500px) {
    .selectWrapper {
        margin-bottom: 10px;
    }
}
