:root {
    --bg: #181818;
    --block: #312828;
    --block-hover: #2C2424;
    --button: #1E1E1E;
    --button-hover: #151515;
    --stroke: #6C6C6C;
    --text-main: #FFECD3;
    --text-minor: #FFAF9F;
    --main: #FF4B4B;
    --minor: #ff1500;
}